.image-icons{   
  height: 118px;   
  display:block;
  margin-left:auto;
  margin-right:auto;
}	

.testimonial-container{
	background: #2d2c32;
	padding-top: 0;
	padding-bottom: 0;
}
.testimonial-container h2{
	color: #fff;
}

.slides  li blockquote footer{
	color: #62c462;
}
.our-partners .row{
	max-height: 165px;
	overflow: hidden;
	margin-top: 25px;
}

.our-team-container .team-slider .member-detail{
	background: #444449;
}
.our-team-container .team-slider .social-list{
	background: #444449;
	color: #fff;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.our-team-container .team-slider .member-detail .name a {
    color: #fff;
    text-transform: uppercase;
}
#wrapper{
	background-color: black;
}
.menu li a{
	color: #aaa;
}

a.logo{
	color: #aaa;
}

.num{
	color: #aaa;
}